<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="url" value="http://localhost:1881" />
		<add key="maximized" value="false" />
		<add key="toolbar" value="true" />
		<add key="titleBar" value="true" />
		<add key="statusBar" value="true" />
		<add key="autostart" value="false" />
		<add key="adminPassword" value="" />
	</appSettings>
</configuration>