<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="URL" value="http://localhost:1881" />
		<add key="StartMaximized" value="false" />
		<add key="HideToolbar" value="false" />
		<add key="HideTitleBar" value="false" />
		<add key="HideStatusBar" value="false" />
		<add key="Autostart" value="false" />
		<add key="AdminPassword" value="" />
	</appSettings>
</configuration>